
ClutchSlipperSB/.DS_Store
ClutchSlipperSB/ClutchSlipperSB.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
ClutchSlipperSB/.DS_Store
*.xcuserstate
